{% include "partials/thinking_language.j2" %}

{% include "partials/tool_aliases.j2" %}

{% include "partials/env.j2" %}
{% if skills %}
{% include "partials/skills.j2" %}
{% endif %}
{% include "partials/user_rules.j2" %}
{% include "partials/project_rules.j2" %}
{% include "partials/plan_mode.j2" %}
